---
Checks: '*,-llvmlibc*,-modernize-use-trailing-return-type,-fuchsia-default-arguments-calls,-altera-unroll-loops,-altera-id-dependent-backward-branch,-bugprone-easily-swappable-parameters'
FormatStyle: file
...
